{% extends 'base.html.twig' %}

{% block title %}Nos bouteilles{% endblock %}

{% block body %}
<section class="bouteilles-wrapper container">
    <h1>Nos bouteilles</h1>

    {% if bouteilles|length == 0 %}
        <p>Aucune bouteille enregistrée pour le moment.</p>
    {% else %}
        <div class="bouteilles-grid">
            {% for bouteille in bouteilles %}
                {% if bouteille.imageName %}
                    {% set image = 'uploads/images/' ~ bouteille.imageName %}
                {% else %}
                    {% set defaultImage =
                        bouteille.type == 'rouge'
                            ? 'vin-rouge.jpg'
                            : (bouteille.type == 'blanc' ? 'vin-blanc.jpg' : 'vin-rose.jpg') %}
                    {% set image = 'uploads/images/' ~ defaultImage %}
                {% endif %}

                <div class="bouteille-card">
                    <div class="card-inner">
                        <div class="image-wrapper">
                            <img src="{{ asset(image) }}" alt="{{ bouteille.nom }}">
                        </div>

                        <div class="infos">
                            <h2>{{ bouteille.nom }}</h2>
                            <div class="details">
                                <p><strong>Millésime :</strong> {{ bouteille.millesime }}</p>
                                <p><strong>Cépage :</strong> {{ bouteille.cepage }}</p>
                                <p><strong>Type :</strong> {{ bouteille.type }}</p>
                                <p><strong>Pays :</strong> {{ bouteille.pays }}</p>
                                <p><strong>Région :</strong> {{ bouteille.region }}</p>
                                <p class="description">{{ bouteille.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>


{% endblock %}
